---
layout: layouts/base.njk
section: home
pagination:
    data: collections.project
    size: 4
    alias: projects
---
<div class="home-page">
  <div class="home-page__bg-square"></div>

  <div class="hero">
    <div class="hero__col">
      <image 
        class="hero__image shadow"
        src="{% if home.image %}{{ home.image }}{% else %}https://source.unsplash.com/random/600x600{% endif %}"
        alt="{{ home.image_alt }}"
        width="500px"
        height="500px"
        loading="lazy"></div>
      <div class="hero__col">
        <h1 class="hero__title ">{{ home.title }}</h1>
        {# gradient-text #}
        {% if home.subtitle %}
          <h2 class="hero__subtitle">{{ home.subtitle }}</h2>
        {% endif %}
        <button class="btn hero_btn" onclick="window.location.href='/signup/index.html';">PRESS START to get hacking!</button>
      </div>

    </div>
  
    <hr>
    <h1>Recently added projects:</h1>
    <hr>
    {% set projectlist = projects %}
    {% set show_postslist_tags = true %}
    {% include "components/projectlist.njk" %}
    <nav>
      <a href="{{ '/projects/' | url }}" class="tag">See all projects ▶</a>
    </nav>
    {# <hr> #}
    {# <h1>Latest Hacks</h1>
  <hr>

  <a class="twitter-timeline" href="https://twitter.com/unitaryHACK?ref_src=twsrc%5Etfw">Tweets by unitaryHACK</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <hr> #}
    {# <h1>Hackathon News</h1>
  <hr>
  {% set postslist = collections.post %}
  {% set show_postslist_tags = false %}
  {% set limit = 3 %}
  {% include "components/postslist.njk" %} #}

<h2>Thanks so much to all the unitaryHACK supporters! 🙏</h2>
    <ul style="list-style-type:square">
      <li>
        <a href="https://azure.microsoft.com/it-it/services/quantum/">Microsoft Azure Quantum</a>
      </li>
      <li>
        <a href="https://dorahacks.io/">DoraHacks</a>
      </li>
       <li>
        <a href="https://www.zapatacomputing.com/">Zapata Computing</a>
      </li>
      <li>
        <a href="https://unitary.fund/">Unitary Fund</a> and its members, including <a href="https://www.ibm.com/quantum">IBM</a>, <a href="https://www.accenture.com/us-en/services/technology/quantum-computing-services">Accenture</a>, <a href="https://www.xanadu.ai/">Xanadu</a>, <a href="https://ionq.com/">IonQ</a>, <a href="https://www.bcg.com/">Boston Consulting Group</a>, <a href="https://pasqal.io/">Pasqal</a>, <a href="https://www.meetiqm.com/">IQM</a>, <a href="https://dorahacks.io/">DoraHacks</a>, and <a href="https://agnostiq.ai/">Agnostiq</a>
      </li>
    </ul>
  </div>
