---
title: Project tags
metaDescription: This page lists all of the projets tags.
layout: layouts/base.njk
permalink: "tags/index.html"
---
<div class="page-container">
  <h1>{{ title }}</h1>
<section>
  <div class="tag-list">
    {% for tag in collections.tagList | filterTagList %}
      <a class="tag" href="/tags/{{ tag | slug }}">{{ tag | safe }}</a>
    {% endfor %}
  </div>
  <hr>
    <nav>
      <a href="{{ '/projects/' | url }}">← View All Projects</a>
    </nav>
  </section>
</div>
