.project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin: 40px 0;
}

@media (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.project-card {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-border);
    font-family: var(--font-family-pixel);
    font-size: var(--font-size-h2);
    color: var(--color-text-title);
}

.project-card__title {
    color: var(--color-text-title);
    font-family: var(--font-family-pixel);
    position: relative;
    top: 8px;
}

.project-card__title:hover {
    position: relative;
    color: var(--color-bg);
    top: 8px;
}

.project-card__tag {
    background-color: var(--color-text-title);
    color: var(--color-secondary);
    font-family: var(--font-family-pixel);
    font-size: var(--font-size-tag);
}

.project-card__tag:hover {
    color: var(--color-secondary);
    filter: brightness(115%);
}

.project-card__emoji {
    margin-right: 8px;
}

.project-card__metaDescription {
    color: var(--color-text-title);
}

.page-container {
    max-width: 1448px;
}