/* Desktop CSS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin: 40px 0;
}

.project-card {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 30px 30px;
    background-color: var(--color-secondary);
    border: 30px solid var(--color-border);
    font-family: var(--font-family-default);
    font-size: var(--font-size-p);
    letter-spacing: 1.5px;
    color: var(--color-text-title);
}

.project-card:hover{
    transform: scale(1.1);
    filter: brightness(115%);
}

.project-card__title {
    color: var(--color-text-title);
    font-family: var(--font-family-pixel);
    font-size: var(--font-size-h1);
    letter-spacing: 4px;
    position: relative;
}

.project-card__tag {
    background-color: var(--color-text-title);
    color: var(--color-secondary);
    font-family: var(--font-family-pixel);
    font-size: var(--font-size-tag);
}

.project-card__tag:hover {
    color: var(--color-secondary);
    filter: brightness(115%);
}

.project-card__emoji {
    margin-right: 8px;
    vertical-align: middle;
    font-size: var(--font-size-emoji);
}

.page-container {
    max-width: 1200px;
    margin: 0 10%;
}



/* Widescreen CSS */
@media (min-width: 1600px) {
    .page-container {
        max-width: 1200px;
        margin: 0 25%;
    }
  }



/* Tablet CSS */
@media (max-width: 912px) {}



/* Mobile CSS */
@media (max-width: 414px) {}
@media (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}