.project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin: 40px 0;
}

@media (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.project-card {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    background-color: var(--color-bg-secondary);
    border: 2px solid var(--color-border);
    font-family: "EXEPixelPerfect";
    font-size: 32px;
}

.project-card__title {
    color: var(--color-secondary);
    position: relative;
    top: 8px;
}

.project-card__tag {
    background-color: var(--color-secondary);
    color: var(--color-text-alt);
    font-family: "EXEPixelPerfect";
    font-size: 24px;
}

.project-card__tag:hover {
    color: var(--color-text-alt);
    font-family: "EXEPixelPerfect";
    filter: brightness(120%);
}

.project-card__emoji {
    margin-right: 8px;
}