/* .page-container {
  max-width: var(--site-width);
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
 */
/* .page-container img {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 4rem auto;
}
 */
.shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.gradient-text {
  background: linear-gradient(130deg, #5183f5, #af002d 41.07%, #c79191 76.05%);
 /*  -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-secondary);
  color: var(--color-text-alt);
  font-size: var(--font-size-btn);
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  border: none;
  filter: brightness(120%);
  transform: scale(1.1);
}

.btn--danger {
  background-color: var(--color-danger);
  color: black;
  font-family: var(--font-family-pixel);
  font-size: var(--font-size-btndgr);
  letter-spacing: 1.5px;
}

.btn--danger:hover,
.btn--danger:focus {
  border: none;
  background-color: var(--color-danger);
  filter: brightness(120%);
  color: black;
  transform: scale(1.1);
}

.hero_btn {
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: auto;
  font-family: var(--font-family-pixel);
  font-size: var(--font-size-btn);
  letter-spacing: 2px;
}

.hero_btn:hover,
.hero_btn:focus {
  border: none;
  filter: brightness(120%);
  text-decoration: none;
  transform: scale(1.1);
}

.reg_btn {
  font-family: var(--font-family-pixel);
  font-size: var(--font-size-btn);
  letter-spacing: 2px;
}