:root {
    /* Brand Colors */
    --color-primary: #242424;
    --color-secondary: #5E8534;
    /* Background Colors */
    --color-bg: #ffffff;
    --color-bg-secondary: #F6F8E6;
    --color-bg-accent: #EFEEE1;
    --color-bg-footer: #AFACB0;
    /* Text and Border Colors */
    --color-text: #222222;
    --color-text-title: #F6F2B1;
    --color-text-alt: #ffffff;
    --color-border: #BB896C;
    /* Status Colors */
    --color-danger: #FFFF00;
    /* Typography */
    --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    /* --font-family-heading: var(--font-family-base); */
    --font-family-pixel: "EXEPixelPerfect", var(--font-family-base);
    --font-family-title: "Pixelmania", var(--font-family-base);
    --font-family-default: "SairaSemiCondensed-Regular", var(--font-family-base);
    --font-size-title: 4rem;
    --font-size-h1: 4rem;
    --font-size-h2: 3.5rem;
    --font-size-h3: 3rem;
    --font-size-tag: 2.3rem;
    --font-size-p: 3rem;
    /* Sizes */
    --site-width: 850px;
    /* Other */
    --border-radius: 5px;
    --border-radius-sm: 5px;
}