<section>
  <div class="">
    {% for project in projectlist %}
        <h2>
          <div class="" >
            {% if project.data.title %}
            <span class="project-card__emoji">{{ project.data.emoji }}</span>
            {% endif %}
            {% if project.data.title %}
              {{ project.data.title }}
            {% else %}
              Untitled
            {% endif %}
          </div>
        </h2>
        {% if project.data.bounties %}
        <ul>
          {% for issue in project.data.bounties %}         
            {% set issueUrl %}{{project_url}}/issues/{{issue.issue_num}}{% endset %}
            <li><a  href="{{ issueUrl | url }}" rel="issue">${{ issue.value }} | {{issue.name}}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
  </div>
</section>


{# <section>
  <div class="project-grid">
    <h1>HI</h1>
    {% for repo in gh_data.data.projects %}
      <div class="project-card" 
      onclick="window.location.href='{{ repo.url | url }}';"
      style="cursor:pointer;"
      {% if repo.url == url %} data-current="current item"{% endif %}>
        <h4>
          <div class="project-card__title" >
              {{ repo.title }}
          </div>
        </h4>
        {% if repo.summary %}
          <p>
            {{ repo.summary }}
          </p>
        {% endif %}
        {% if repo.bounties %}
          <p class="tag-list">
            {% for bounty in repo.bounties %}
              {% set bountyUrl %}{{repo.project_url}}/issues/{{ bounty.number }}/{% endset %}
              <a class="tag" href="{{ bountyUrl | url }}" rel="bounty">${{ bounty.value }} | {{bounty.name}}</a>
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section> #}
