<section>
  <div class="project-grid">
    {% for post in projectlist | reverse %}
      <div class="project-card" 
      onclick="window.location.href='{{ post.url | url }}';"
      style="cursor:pointer;"
      {% if post.url == url %} data-current="current item"{% endif %}>
        <h4>
          <div class="project-card__title" >
            {% if post.data.title %}
              <span class="project-card__emoji">{{ post.data.emoji }}</span>
            {% endif %}
            {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              Untitled
            {% endif %}
          </div>
        </h4>
        {% if post.data.summary %}
          <p>
            {{ post.data.summary }}
          </p>
        {% endif %}
        {% if post.data.tags and show_postslist_tags %}
          <p class="tag-list">
            {% for tag in post.data.tags %}
              {%- if tag != "project" -%}
                {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <a class="project-card__tag tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
