---
layout: layouts/base.njk
section: project
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    <a href = {{project_url}}>{{ title }}</a></h1>

  <strong>Open bounties:</strong>
  {% if bounties %}
  <ul style="list-style-type:square">
    {% for issue in bounties %}         
      {% set issueUrl %}{{project_url}}/issues/{{issue.issue_num}}{% endset %}
      <li><a class="tag" href="{{ issueUrl | url }}" rel="issue">${{ issue.value }} | {{issue.name}}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <hr>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/projects/' | url }}">← View All Projects</a>
  </nav>
</div>