---
layout: layouts/base.njk
section: project
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    <a href = {{project_url}}>{{ title }}</a></h1>

  <strong>Open bounties:</strong>
  {% for scraped_project in gh.projects %}
      {% if scraped_project.title === title %}
          {% if scraped_project.bounties %}
              <ul style="list-style-type:square">
              {% for issue in scraped_project.bounties %}
                  {% set issueUrl %}{{project_url}}/issues/{{issue.issue_num}}{% endset %}
                  {% if issue.state == "closed" %}
                      <li><a class="tag" href="{{ issueUrl | url }}" rel="issue" style="text-decoration:line-through;">${{ issue.value }} | {{issue.name}}</a></li>
                  {% else %}
                      <li><a class="tag" href="{{ issueUrl | url }}" rel="issue">${{ issue.value }} | {{issue.name}}</a></li>
                  {% endif %}
              {% endfor %}
              </ul>
          {% endif %}
      {% endif %}
  {% endfor %}
  <hr>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/projects/' | url }}">← View All Projects</a>
  </nav>
</div>
